{% extends "base.html" %}

{% block title %}
        Chart
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-5">
      <div class="card">
        <div class="card-header">
          Sleep
        </div>
        <div class="card-body">
          {{ sleep_chart }}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Nutrition
        </div>
        <div class="card-body">
          {{ macros_chart }}
        </div>
      </div>
    </div>

    <div class="col-sm-6 mb-5">
      <div class="card">
        <div class="card-header">
          Calories
        </div>
        <div class="card-body">
          {{ calories_chart  }}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Water
        </div>
        <div class="card-body">
          {{ water_chart }}
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Exercise
        </div>
        <div class="card-body">
          {{ exercise_chart }}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
